.modal
{
    width: 357px;
    min-height: 385px;
    background-color:black;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
      
    position: relative;
   
}
.modal_img
{
    width: 45px;
    height: 46px;
    position:absolute;
    top: 8px;
    left: 23px;
}
.modal_title
{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    color:white;
    margin-top: 30px;
    margin-bottom: 16px;

}
.modal_descr
{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: center;
    color:white;
    width: 210px;
    margin: 0 auto 27px;


}
.modal_descr a
{
    text-decoration: underline;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: center;
    color:white;
}
.name_input
{
    margin: 0 auto;
    margin-bottom: 13px;
    position: relative;
    

}
#name_input
{
    width: 270px;
    height: 60px;
    border-radius:10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: 500;
    line-height: 15px;
    padding-left: 25px;
    box-sizing: border-box;
    outline: none;
    border: none;
    
    
}
.fone_input
{
    margin: 0 auto;
    margin-bottom: 16px;
    position: relative;
    
   
}
#fone_input
{
    width: 270px;
    height: 60px;
    border-radius:10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: 500;
    line-height: 15px;
    padding-left: 25px;
    box-sizing: border-box;
    outline: none;
    border: none;
    
}
.modal_btn
{
    width: 270px;
    height: 60px;
    border-radius:10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 15px;
    margin: 0 auto ;
    /* margin-left: 91px; */
    background-color: #8EBE4A;
    padding: 0;
    box-sizing: border-box;
}
.modal_btn a
{
    width: 270px;
    height: 60px;
    border-radius:10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 15px;
    color:white;
    text-decoration: none;
    text-transform: uppercase;
   
   
}
.conf
{
    box-sizing: border-box;
    color:white;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 10px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 20px;

}
.conf a{
    text-decoration: underline;
    font-family: 'Montserrat', sans-serif;
    font-size:12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: center;
    color:white;
    margin-bottom: 20px;
    
}
.star_one
{
    position:absolute;
    top: 35px;
    left: 45px;
    color:#F11717;
    font-size: 25px;
}
.star_two
{
    position:absolute;
    top: 35px;
    left: 45px;
    color:#F11717;
    font-size: 25px;
}
    